@font-face {
  font-family: 'Play';
  src:
    local('Play Regular'), local('Play-Regular'),
    url('Play/play-regular-webfont.woff2') format('woff2'),
    url('Play/play-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Lobster';
  src:
    local('Lobster'), local('Lobster-Regular'),
    url('Lobster/lobster-regular-webfont.woff2') format('woff2'),
    url('Lobster/lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
